@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "PressStart";
    src: url("/PressStart.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

.press-start {
    font-family: "PressStart", sans-serif;
}
