@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PressStart";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/PressStart.ttf") format("truetype");
}

@font-face {
  font-family: "RustFont";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/RustFont.ttf") format("truetype");
}

.rust-font {
  font-family: "RustFont", sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
