.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: black;
}

.mobile {
  display: flex;
  background: url("/mobile-background.png");
  position: absolute;
  top: 8%;
  left: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  color: black;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  color: white;
}

.desktop {
  display: none;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

.gradient {
  font-weight: bold;
  background: linear-gradient(to right, #0072ff, #d300d3);
  background-clip: text;
  color: transparent;
}